version: '3.4'

services:
  justice40tool:
    image: justice40tool
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: development
    ports:
      - 8000:8000
      - 9229:9229
    command: ["npm", "start", "--inspect=0.0.0.0:9229"]
