@use '../../styles/design-system.scss' as *;

.surveyFabContainer {
  position:fixed;
  @include u-bottom(3);
  @include u-right(3);
  @include u-radius(1);
  box-shadow: 1.2px 2.4px 2.4px hsl(0deg 0% 0% / 0.46);

  @include u-text('gray-90');
  @include u-bg('yellow-20v');
  
  &:hover {
    @include u-bg('yellow-20');
    @include u-text('gray-90');
  }
}