@use '../../styles/design-system.scss' as *;

.tagContainer {
    align-self: flex-end;
    @include u-margin-bottom(1);
    @include u-margin-right(1);
    .tag {
        // @include u-bg("gray-cool-10"); // Standard gray
        @include u-bg("yellow-20v"); // "new" yellow
        color: black;
        border-radius: 5px;
        @include u-text('bold');
    }
}

.container {
    display: flex;
    flex-direction: column;
    @include u-padding-top(2.5);
    @include u-margin-top(4);

    .link, .link:visited {
        color:white;
        text-decoration: none;

        .engagementButton{
            // @include u-text("blue-70v");
            // @include u-bg("yellow-20v");
            height: 40px; 
            
            // &:hover {
            //   @include u-bg("yellow-20");
            //   @include u-text("gray-90");
            // }
      
            .buttonContainer{
              display: flex;
            
            .buttonImage{
                @include u-margin-right(1);
                width: 21px;
                margin-top: -3px;
      
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(119deg) brightness(105%) contrast(101%);
              }
            }
          }
    }

}