@use '../../styles/design-system.scss' as *;

@mixin baseButtonContainerStyles {
  align-self: center;
  @include u-margin-top(2);

  a {
    text-decoration: none;
  }

  img {
    // This should be a global css-filter value as it's generated
    // from the primary color.
    filter: invert(15%) sepia(9%) saturate(5666%) hue-rotate(175deg) brightness(96%) contrast(95%);
  }
}

@mixin baseTextStyle {
  @include typeset('sans', 'xs', 3);
  @include u-margin-top(2);
  @include u-margin-bottom(2);

};

@mixin baseButtonTextStyle {
  padding-top: 4px;
  padding-left: 5px;
}

.downloadBoxContainer {
    color: whitesmoke;
    margin: auto;
    @include u-margin-top(2.5);

    .downloadBox {
      @include u-bg('blue-80v');
      border-radius: 6px 6px;
      // @include u-margin-top(3);

      .downloadBoxTextBox {
        padding: 25px 25px;
        display: flex;
        flex-direction: column;

        .downloadBoxTitle {
          @include typeset('sans', 'xs', 3);
          @include u-text('semibold');
        }

        .downloadSourceText {
          @include u-margin-top(2);
        }

        // Last updated
        .lastUpdated {
          font-style: italic;
          align-self: center;
          @include u-margin-top(1);
        }

        // Data source button (scoped)
        .downloadButtonContainer {
          display: flex;
          flex-direction: column;
          @include baseButtonContainerStyles();
          text-align: center;

          .downloadButtonText {
            @include baseButtonTextStyle();
            @include u-margin-right(1);
          }

          .downloadButtonIconSpan {
            display: contents;
            max-width: 1.5em;
          }

          .downloadButtonIcon {
            width: 1.5em;
            height: 1.5em;
          }
        }
      }
    }
  }

  .downloadBoxButton {
    @include u-bg('white');
    @include u-color('blue-80v');
    display: flex;
    width: 16em;
  }

  .tagContainer {
    align-self: end;
    @include u-margin-bottom(-1);
    z-index: 2;
  }

  .newTag {
    @include u-text('bold');
    @include u-text("blue-80v");
    @include u-bg("gold-20v");
  }

  .updateTag {
    @include u-text('bold');
    @include u-text("blue-80v");
    @include u-bg("gray-10");
  }

  .newCalloutFontColor {
    @include u-text("gold-20v");
  }
