repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: requirements-txt-fixer

- repo: https://github.com/lucasmbrown/mirrors-autoflake
  rev: v1.3
  hooks:
    - id: autoflake
      args:
        [
          "--in-place",
          "--remove-all-unused-imports",
          "--remove-unused-variable",
          "--ignore-init-module-imports",
        ]

- repo: https://github.com/asottile/reorder_python_imports
  rev: v2.7.1
  hooks:
    - id: reorder-python-imports
      language_version: python3.9
      args:
        [
          "--application-directories=.",
        ]

- repo: https://github.com/ambv/black
  rev: 22.1.0
  hooks:
    - id: black
      language_version: python3.9
