@import "../utils.scss";

.legendContainer {
  display: flex;
  border: 1px solid #DFE1E2;
  margin: 1rem 0 1rem 2.5rem;
  padding: 0 1.5rem 1rem 1.5rem;

  .legendTextBox {
    // Set maximum width for text area so that blue dot
    // doesn't lose aspect ratio
    flex-basis: 88%;
  }
  @media screen and (max-width: 640px) {
    margin: 1rem 0 0;
  }
}
