@import "../utils.scss";

.legendContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #DFE1E2;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 1rem 0 1rem 2.5rem;
  
  .legendRow{
    display: flex;

    .legendTextBox {
      // Set maximum width for text area so that blue dot
      // doesn't lose aspect ratio
      flex-basis: 88%;
    }  
  }

}
