@import "../components/utils.scss";

$primary-color: #112f4e;

h1.explorePageHeader {
  color: $headingFontColor;
}

.explorePageSubHeader {
  display: flex;
  flex-wrap: wrap;
  line-height: 25px;
  color: $headingFontColor;

  .explorePageHeaderText {
    max-width: 34rem;
    font-size: large;
  }
}
