@import "../components/utils.scss";

.explorePageSubHeader {
  display: flex;
  flex-wrap: wrap;
  line-height: 25px;
  color: $headingFontColor;

  .explorePageHeaderText {
    max-width: 34rem;
    font-size: large;
  }
}
