@use '../../styles/design-system.scss' as *;

.lowIncomeContainer {

    border: 1px solid #DFE1E2;
    @include u-margin-top(4);
    @include u-padding-left(4);
    @include u-padding-right(3);
    @include u-padding-bottom(4);

    .lowIncomeTitle {
        @include typeset('sans', 'xs', 3);
        @include u-text('semibold');
    }

    .lowIncomeText {
        @include typeset('sans', 'xs', 3);
        @include u-text('light');
    }
};
