[flake8]
ignore =
  E266,  # to many leading '#' for block comment
  W503,  # line break before binary operator
  # TODO: Uncomment and fix the issues here that we care about, see
  # https://github.com/usds/justice40-tool/issues/1123
  PD002,
  PD003,
  PD004,
  PD010,
  PD901
max-line-length = 150
max-complexity = 18
select = B,C,E,F,W,T4,B9,PD
