BACKENDS_PROBE_INTERVAL: "15s"
BACKENDS_PROBE_TIMEOUT: "5s"
BACKENDS_PROBE_WINDOW: "3"
BACKENDS: "tileserv:7800"
DNS_ENABLED: "false"
DASHBOARD_USER: "admin"
DASHBOARD_PASSWORD: "admin1234"
DASHBOARD_SERVERS: "web"
PARAM_VALUE: "-p default_ttl=600"