@import "../utils.scss";

@mixin j40AlertBase {
  font-size: large;
  background-color: $j40AlertWarningColor;
  margin-top: 2rem;
}

.j40Alert {
  @include j40AlertBase;
  padding: 1rem 0;
}

.j40AlertLeftPad {
  @include j40AlertBase;
  padding: 1rem 1rem;
}
