@import "../utils.scss";

@mixin j40AlertBase {
  font-size: large;
  background-color: $j40AlertWarningColor;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.j40Alert {
  @include j40AlertBase;
}
