@use '../../styles/design-system.scss' as *;

@mixin searchMessageLayout {
    color: red;
    background-color: white;
    @include u-margin-bottom(.5);
    @include u-margin-top(.5);
    @include u-padding-left(1);
}

.showMessage {
    @include searchMessageLayout;
    display: block;
    width: fit-content;
}

.hideMessage {
    @include searchMessageLayout;
    visibility: hidden;
}