@use '../../styles/design-system.scss' as *;
@import "../utils.scss";

$sidePanelLabelFontColor: #171716;

@mixin sidePanelLabelStyle {
  font-size: medium;
  color: $sidePanelLabelFontColor;
  font-weight: 600;
}

.versionInfo {
  padding: .5rem 1rem .5rem 1.2rem;
  font-size: medium;
  border-bottom: 1px solid $sidePanelBorderColor; 
}

.areaDetailContainer {
  display: flex;
  flex-direction: column;
}

.categorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include u-padding-bottom(3);

  .isInFocus {
    padding: .5rem 1rem .25rem 1.2rem;
    font-size: small;
    font-weight: bold;
    @include u-margin-top(2);
  }

  .communityOfFocus {
    display: flex;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .showCategoriesExceed {
    font-size: small;
    @include u-margin-top('05');
  }

  // .showThresholdExceed {
  //   font-size: small;
  //   @include u-margin-top('05');
  // }

  .sendFeedbackLink {
    @include u-margin-top(2);

    .sendFeedbackBtn{
      @include u-text("blue-70v");
      @include u-bg("yellow-20v");
      height: 40px; 
      
      &:hover {
        @include u-bg("yellow-20");
        @include u-text("gray-90");
      }

      .buttonContainer{
        display: flex;

        .buttonText{
          @include u-margin-right(1);
        }

        .buttonImage{
          width: 21px;
          margin-top: -3px;

          filter: invert(13%) sepia(76%) saturate(5142%) hue-rotate(192deg) brightness(80%) contrast(106%);
        }
      }
    }
  }

}

//Census row styles
.censusRow {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 1.2rem 1rem 0 1.2rem;

  .censusLabel {
    @include sidePanelLabelStyle;
  }

  .censusText {
    font-size: medium;
  }  
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: small;
  @include u-bg('gray-cool-5');
  @include u-padding-left(2.5);
  @include u-padding-right(2);
}

.categorySpacer {
  @include u-bg('gray-cool-3');

  @include typeset('sans', '2xs', 2);
  @include u-text('bold'); 

  margin: 0 -20px 1rem -20px;
  @include u-padding-top(2);
  @include u-padding-bottom(2);
  @include u-padding-left(2.5);
  
}
