@use '../../styles/design-system.scss' as *;
@import "../utils.scss";

$sidePanelLabelFontColor: #171716;

@mixin sidePanelLabelStyle {
  font-size: medium;
  color: $sidePanelLabelFontColor;
  font-weight: 600;
}

@mixin thresholdExceeded {
  font-size: medium;
  @include u-margin-top('05');
}

.versionInfo {
  padding: .5rem 1rem .5rem 1.2rem;
  font-size: medium;
  border-bottom: 1px solid $sidePanelBorderColor;
}

.areaDetailContainer {
  display: flex;
  flex-direction: column;
}


.categorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include u-padding-bottom(3);

  .isInFocus {
    padding: .5rem 1rem .25rem 1.2rem;
    font-size: small;
    font-weight: bold;
    @include u-margin-top(2);
  }

  .communityOfFocus {
    display: flex;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .showThresholdExceed {
    @include thresholdExceeded;
    display: block;

  }

  .hideThresholdExceed {
    @include thresholdExceeded;
    visibility: hidden;
  }

  .sendFeedbackBtn {
    @include u-margin-top(2);
  }

}

//Census row styles
.censusRow {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 1.2rem 1rem 0 1.2rem;

  .censusLabel {
    @include sidePanelLabelStyle;
  }

  .censusText {
    font-size: medium;
  }
}

// The following class is used in the AccordionItems in the AreaDetail component.
// The Accordion component (parent of AccordionItems) requires some CSS overrides.
// Local styling is not allowing the override.
// The override is needed to push into the bounds of the Accordion component's styles.
// To override this, in globals.scss, we set the this .categoryHeader's vertical alignment by
// setting styles in:
//    .usa-accordion__content > *:first-child
// This first child of the accordion content is the category header:
.categoryHeader {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: small;
  @include u-bg('gray-cool-5');
  @include u-padding-left(2.5);
  @include u-padding-right(2);
}
