@use '../../styles/design-system.scss' as *;
@import "../utils.scss";

$sidePanelLabelFontColor: #171716;

@mixin sidePanelLabelStyle {
  font-size: medium;
  color: $sidePanelLabelFontColor;
  font-weight: 600;
}

.versionInfo {
  padding: .5rem 1rem .5rem 1.2rem;
  font-size: medium;
  font-weight: bold;
  border-bottom: 1px solid $sidePanelBorderColor; 
}

.areaDetailContainer {
  display: flex;
  flex-direction: column;
}


.categorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include u-padding-bottom(3);

  .isInFocus {
    padding: .5rem 1rem .25rem 1.2rem;
    font-size: small;
    font-weight: bold;
    @include u-margin-top(2);
  }

  .communityOfFocus {
    display: flex;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .showThresholdExceed {
    display:block;
    font-size: small;
    @include u-margin-top('05');
  }
  
  .hideThresholdExceed {
    visibility: hidden;
    font-size: small;
    @include u-margin-top('05');
  }

  .feedbackLink {
    font-size: small;
    @include u-margin-top(1);
  }

}

//Census row styles
.censusRow {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 1.2rem 1rem 0 1.2rem;

  .censusLabel {
    @include sidePanelLabelStyle;
  }

  .censusText {
    font-size: medium;
  }  
}
