@import "../utils.scss";

$sidePanelLabelFontColor: #171716;
$featureSelectBorderColor: #00bde3;

@mixin sidePanelLabelStyle {
  font-size: small;
  color: $sidePanelLabelFontColor;
  font-weight: 600;
}

@mixin categorizationCircleStyle {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 100%;
  align-self: center;
  margin-top: 1.8rem;
  margin-right: 0.5rem;
  opacity: 0.6;
}

.areaDetailContainer {
  display: flex;
  flex-direction: column;
}

.categorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 50%;
  padding-bottom: 2rem;
}

.censusLabel {
  @include sidePanelLabelStyle;
}

.priority {
  display: flex;
}

.prioritized {
  @include categorizationCircleStyle;
  background: #1a4480;
  border: 1px solid $featureSelectBorderColor;
}

.threshold {
  @include categorizationCircleStyle;
  background: #d7dde7;
  border: 1px solid $featureSelectBorderColor;
}

.nonPrioritized {
  @include categorizationCircleStyle;
  border: 1px solid $featureSelectBorderColor;
}

.prioritization {
  font-size: large;
  font-weight: bold;
  padding-top: 0.8rem;
}

.censusRow {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
}

//census row styles
.censusRow {
  padding: 1.2rem 1rem 0 1.2rem;
}

.censusText {
  font-size: small;
}

//Divider styles
.divider {
  @include sidePanelLabelStyle;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.5rem 0.3rem 1.2rem;
  background-color: #DFE1E2;
}

//Indicator box styles
.indicatorBox {
  display: flex;
  flex-direction: column;
  padding: 0 0rem 1.5rem;
  border-bottom: $sidePanelBorder;

  @media screen and (max-width: $mobileBreakpoint) {
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.indicatorBox:last-child {
  border-bottom: none;
}

.indicatorRow {
  display: flex;

  @media screen and (max-width: $mobileBreakpoint) {
    flex: 1 0 40%;
    align-self: inherit;
    padding-left: 3rem;
    padding-top: 1rem;
  }

  .indicatorName {
    flex: 0 1 77%;
  }
  
  .indicatorValue {
    margin-top: 1.2rem;
    margin-left: 2.2rem;
  }
  
  .indicatorDesc {
    max-width: 10rem;    
  }
}
