@use '../../styles/design-system.scss' as *;

.datasetCardsContainer {
  @include u-margin-top(4);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.returnToTop {
  display: flex;
  justify-content: flex-end;
  @include u-margin-bottom(4);
}