/*
 This file is meant to hold styles that are shared with other SASS modules.
 You can import this file into other SASS file to re-use styles.
*/

$sidePanelBorderColor: #f2f2f2;
$sidePanelBorder: 2px solid $sidePanelBorderColor;
$mobileBreakpoint: 400px;
