@import "../components/utils.scss";

.howYouCanHelpContainer {
  margin: 2rem 0;

  // .listWrapper {
  //   display: flex;
  // }

  ul {
    padding-left: 0;
  }

  .howYouCanHelpText {
    padding-left: 1rem;
  }
}

.howYouCanHelpContainer > * {
  color: $headingFontColor;
}

.howYouCanHelpContainer h2 {
  font-weight: normal;
}

.howYouCanHelpContainer li {
  list-style-type: none;
  padding-bottom: 1rem;
}

// .howYouCanHelpBullet {
//   width: 0.25rem;
//   height: 0.25rem;
//   border-radius: 50%;
//   background-color: $headingFontColor;
//   margin: 0.5rem;
// }
