@import "../components/utils.scss";

.howYouCanHelpContainer {
  margin: 2rem 0;

  ul {
    padding-left: 0;
  }

  .howYouCanHelpText {
    padding-left: 1rem;
  }
}

.howYouCanHelpContainer > * {
  color: $headingFontColor;
}

.howYouCanHelpContainer h2 {
  font-weight: normal;
}

.howYouCanHelpContainer li {
  list-style-type: none;
  padding-bottom: 1rem;
}
