@import "./areaDetailUtils.scss";

.mapAndInfoPanelContainer {
  display: flex;
  height: 81vh; //desktop

  @media screen and (max-width: $mobileBreakpoint) {
    flex-direction: column;
    height: fit-content;
  }
}

.mapContainer {
  // height: 676px;
}

.j40Popup {
  width: 375px;
}

.navigationControl {
  left: 1.25em;
  top: 2.5em;
  width: 2.5em;
}

.fullscreenControl {
  right: 1.25em;
  top: 2.5em;
}

.geolocateControl {
  right: 1.25em;
  top: 5em;
}

.mapInfoPanel {
  border: 2px solid $sidePanelBorderColor;
  overflow-y: auto;
  max-width: 22rem;
}
