$sidebar-background: rgba(35, 55, 75, 0.9);
$sidebar-color: #ffffff;

.j40Popup {
  max-height: 300px;
  min-width: 36%;
  max-width: 36%;
  overflow-y: scroll;
  pointer-events: all !important;
}

.navigationControls {
  left: 20px;
  top: 40px;
  height: 80px;
  width: 40px;
}
.zoomButton {
  width: 40px;
  height: 40px;
  border-width: 1px 2px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
}

.zoomContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  position: absolute;
  left: 20px;
  top: 150px;
  z-index: 10;
}

.zoomButton:first-child {
  border-top-width: 2px;
}

.zoomButton:last-child {
  border-bottom-width: 2px;
}
