@use '../styles/design-system.scss' as *;
@import "./utils.scss";

.j40Popup {
  width: 375px;
}

.navigationControl {
  left: .75em;
  top: units(15);
  width: 2.5em;
}

.fullscreenControl {
  right: 1.25em;
  top: 2.5em;
}

.geolocateControl {
  right: 1.25em;
  top: 5em;
}

.mapInfoPanel {
  border: 1px solid $sidePanelBorderColor;
  overflow-y: auto;
  height: 90vh;
}

// This will control the height of the map when the device
// width is less than desktop (1024px)
.j40Map {
  @include at-media-max("desktop") {
    height: 55vh;
  }
}
