.mapContainer {
  height: 676px;
  margin-bottom: 29px;
  max-width: revert;
  margin-top: 50px;
}

.popupContainer {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.popupContainer:after,
.popupContainer:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popupContainer:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.popupContainer:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.popupCloser {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.popupCloser:after {
  content: "✖";
}

.popupContent {
  max-height: 300px;
  overflow: scroll;
}

.popupHeaderTable {
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 12px;
  border: none;
}

.popupHeaderTable tbody td:first {
  font-weight: bold;
}

.zoomWarning {
  background-color: #953a10;
  height: 8%;
  width: 66%;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoomWarning > img {
  filter: invert(100%);
}
