$sidebar-background: rgba(35, 55, 75, 0.9);
$sidebar-color: #ffffff;

.mapContainer {
  height: 676px;
  margin-bottom: 29px;
  max-width: revert;
  margin-top: 50px;
}

.sidebar {
  background-color: $sidebar-background;
  color: $sidebar-color;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 300px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
