$sidebar-background: rgba(35, 55, 75, 0.9);
$sidebar-color: #ffffff;

.mapContainer {
  height: 676px;
}

.j40Popup {
  max-height: 300px;
  max-width: 300px;
  overflow: scroll;
  pointer-events: all !important;
}

.j40Popup .mapboxgl-popup-content {
  pointer-events: all;
}
