.mapIntroContainer {
  padding: 20px 20px;
}

.mapIntroHeader {
  font-size: xx-large;
  line-height: 1.9rem;
  padding-top: 0.8rem;
  padding-left: 0.3rem;
}
.mapIntroText {
  display: flex;
  margin-top: 2.4rem;
}

.mapIntroLightbulb {
  flex: 1 0 10%;
  align-self: flex-start;
}

.didYouKnowBox {
  padding-left: 0.4rem;
  padding-top: 0.2rem;
  font-size: large;
}

.didYouKnow {
  font-weight: 600;
}
.didYouKnowText {
  width: 95%;
  padding-top: 0.3rem;
  line-height: 1.5rem;
}
