.popupContentTable {
  min-width: 400px;
}

.popupContentTable > thead {
  background-color: #edeff0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.titleIndicatorName {
  font-weight: bold;
}
