.territoryFocusButton {
  width: 2.5em;
  height: 2.5em;
  border-width: 1px 2px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
}

.territoryFocusButton:not(:disabled):hover {
  background-color: #f4f4f4;
}

.territoryFocusContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  top: 150px;
  z-index: 10;

  text-align: center;
  // @include u-font-size('mono', 8);  doesn't work because we're in component scss
  font-size: font-size('mono', 'sm');
  line-height: 1.5rem;
}

.territoryFocusButton:first-child {
  border-top-width: 2px;
}

.territoryFocusButton:last-child {
  border-bottom-width: 2px;
}
