/*
 This file is meant to hold styles that are shared with other SASS modules.
 You can import this file into other SASS file to re-use styles.

 Todo Design System: replace colors with tokens. Once these styles become more general the name can be less specific
*/

//Styles associated with the side panel
$sidePanelBorderColor: #f2f2f2;
$sidePanelBorder: 2px solid $sidePanelBorderColor;
$mobileBreakpoint: 400px;
$featureSelectBorderColor: #00bde3;
$additionalCardsBGColor: #FAFAFA;
$sidePanelLabelFontColor: #171716;

@mixin sidePanelLabelStyle {
    font-size: medium;
    color: $sidePanelLabelFontColor;
    font-weight: 600;
  }
  

//Styles with Dataset container
$datasetContainerColor: #eef6fb;
$headingFontColor: #122e51;
$j40AlertWarningColor: #faf3d1;
