@import "../utils.scss";

.howYouCanHelpContainer {
  margin: 2rem 0;

  .howYouCanHelpText {
    color: $headingFontColor;
    padding-left: 1rem;
  }
}

.howYouCanHelpList {
  list-style-type: disc;
  padding-bottom: 1rem;
}

.howYouCanHelpListWrapper {
  padding-left: 2rem;
}
