// other CSS libraries:
@import "~@trussworks/react-uswds/lib/index.css";
@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css";

/*
According to the fundamental usage of USWDS:
https://designsystem.digital.gov/documentation/fundamentals/

There are 3 things that should be included in this file:
*/

// 1. Include or point to a USWDS settings file:
@import "./uswds-settings.scss";

// 2. Point to the USWDS source code:
@import "../../node_modules/uswds";

// 3. Include or point to your project's custom Sass
/* 
  Instead of having a separate file for these styles, all styles are being placed here.
  - Global styles
  - Layout styles
    -- Main content styles
    -- Footer styles
  - Component styles
    -- Map styles
    -- Public Event styles
    -- About styles
*/




/***************** GLOBAL STYLES **************************************************************/

$primary-color: #112f4e;  // Used for header font color - selection color is #005EA2
$j40-blue-background-color: #e7f2f5;  // Hex value of 'blue-cool-5'

// The j40-element mixin is used to create any font element. E.g. <h1>, <p> tags, etc.
// Arguments to the mixins must be tokens from USWDS
@mixin j40-element($font-size, $line-height, $font-weight, $margin-top, $margin-bottom: 0) {
  @include typeset('sans', $font-size, $line-height); 
  @include u-text($font-weight);  
  @include u-margin-top($margin-top);
  @include u-margin-bottom($margin-bottom);
}

h1 {
  @include j40-element('3xl', 2, 'bold', 5 );
}

h2 {
  @include j40-element('xl', 2, 'bold', 4 );
}

h3 {
  @include j40-element('lg', 2, 'bold', 4 );
}

h4, .j40-h4 {
  @include j40-element('sm', 1, 'bold', 3 );
}

h5 {
  @include j40-element('md', 4, 'bold', 0 );
}

h6 {
  @include j40-element('3xs', 1, 'normal', 0);
}

p {
  @include j40-element('sm', 4, 'normal', 2.5);
}

p.secondary {
  @include j40-element('3xs', 2, 'normal', .5);
}

p.flush {
  @include j40-element('sm', 4, 'normal', 0);
}

// 24 pixel margin-bottom
.j40-mb-3 {
  @include u-margin-bottom(3);
}

// 40 pixel margin-bottom
.j40-mb-5 {
  
}

.j40-footer-ceq-font {
  @include j40-element('lg', 2, 'bold', 0 );
}

/***************** LAYOUT STYLES **************************************************************
This section will outline styles for components that are on each page. These 
components include:

- main content styles
- footer styles


/* 
******************************
*      MAIN CONTENT STYLES
****************************** 
*/

/* this is used by J40MainGridContainer to show a blue background */
.j40-main-grid-blue-bk {
  @include u-bg('blue-cool-5');  
  
  // This style is to remove the margin collapse occuring
  @include u-border-top(1px);
  @include u-border-top('solid');
  @include u-border-top('blue-cool-5');
}

#main-content {
  border-top: 0; // The main content has border this removes it
  min-height: 60vh; // Contact page's content is not enough to fill page so this keeps the footer low

  .page-heading {
    display: flex;
    justify-content: space-between;

    @include at-media-max("tablet"){
      flex-direction: column;
    }
  }

  .j40-mb5-mt3 {
    @include u-margin-bottom(5);
    @include u-margin-top(3);
  }
}


/* 
******************************
*      FOOTER STYLES
****************************** 
*/ 
.j40-footer {

  .usa-footer__primary-section.pb2{
    @include u-padding-bottom(2);
  }

  .j40-footer-address {
    .usa-footer__contact-info {
      @include typeset('sans', 4, 5); 
      @include u-text('normal');  
      @include u-display('inline-block');
    }
  }
  
  .footer-link-first-child{
    @include u-display('inline-block');
    @include u-margin-top(1.5)
  }
}




/***************** COMPONENT STYLES **************************************************************
This section will outline styles that are component specific

- map
- timeline
- about

/* 
******************************
*      MAP STYLES
****************************** 
*/

// Maplibre overrides
// Note that these need to be here to properly override defaults

.mapboxgl-popup-close-button {
  font-size: 3em;
  margin-right: 12px;
  margin-top: 15px;
}

.mapboxgl-popup-content {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
  border-radius: 8px !important;
  pointer-events: all !important;
  width: auto;
}

// Because we're using react-map-gl, you need to use
// the mapboxgl- class name variables.
// Maplibre has its own classnames with a maplibre prefix,
// but it after 1.14.0 it optionally still allows for the mapbox-gl prefix

// Below properties override mb defaults
// .mapboxgl-ctrl-group:not(:empty) {
//   box-shadow: none;
// }

// @media (-ms-high-contrast: active) {
//   .mapboxgl-ctrl-group:not(:empty) {
//     box-shadow: none;
//   }
// }

// .mapboxgl-ctrl-group {
//   border-radius: 0;
// }

.mapboxgl-ctrl {
  // button + button {
  //   border-top: 1px;
  // }

  button {
    border-radius: 0;
    height: 1.66em;
    width: 1.66em;
    box-sizing: border-box;
    background-color: #ffffff;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    font-size: 1.5em;

    // It seems necessary to set an explicit size for one of the dimensions
    // in order for this icon to be rendered correctly by gatsby build
    // see more here: https://thatemil.com/blog/2014/04/06/intrinsic-sizing-of-svg-in-responsive-web-design/
    .mapboxgl-ctrl-icon {
      height: 1em;
      pointer-events: none; /* this keeps the icons from "eating" the click events instead of the button getting them */
    }
  }

  button.mapboxgl-ctrl-zoom-in {
    .mapboxgl-ctrl-icon {
      background-image: url("../../node_modules/uswds/dist/img/usa-icons/add.svg");
    }
  }

  button.mapboxgl-ctrl-zoom-out {
    .mapboxgl-ctrl-icon {
      background-image: url("../../node_modules/uswds/dist/img/usa-icons/remove.svg");
    }
  }

  button.mapboxgl-ctrl-zoom-to-48 {
    .mapboxgl-ctrl-icon {
      background-image: url("../images/mapbtn-48.svg");
    }
  }

  button.mapboxgl-ctrl-zoom-to-ak {
    .mapboxgl-ctrl-icon {
      background-image: url("../images/mapbtn-AK.svg");
    }
  }

  button.mapboxgl-ctrl-zoom-to-hi {
    .mapboxgl-ctrl-icon {
      background-image: url("../images/mapbtn-HI.svg");
    }
  }

  button.mapboxgl-ctrl-zoom-to-pr {
    .mapboxgl-ctrl-icon {
      background-image: url("../images/mapbtn-PR.svg");
    }
  }

  button.mapboxgl-ctrl-zoom-to-gu {
    .mapboxgl-ctrl-icon {
      background-image: url("../images/mapbtn-GU.svg");
    }
  }

  button.mapboxgl-ctrl-zoom-to-as {
    .mapboxgl-ctrl-icon {
      background-image: url("../images/mapbtn-AS.svg");
    }
  }

  button.mapboxgl-ctrl-zoom-to-mp {
    .mapboxgl-ctrl-icon {
      background-image: url("../images/mapbtn-MP.svg");
    }
  }

  button.mapboxgl-ctrl-zoom-to-vi {
    .mapboxgl-ctrl-icon {
      background-image: url("../images/mapbtn-VI.svg");
    }
  }
}


.usa-accordion__content {
  padding-bottom: 0;
}

/* 
***************************************
*      PUBLIC EVENT STYLES
*************************************** 
*/ 

.usa-collection__body{
  width: 0;
}


/* 
******************************
*      ABOUT CARD STYLES
****************************** 
*/

/* about card - based on datasetCard... Todo: need to combine */
.j40-aboutcard-container {

  .j40-aboutcard-lg-card {
    margin: 1.2rem 0 3rem 0;

    .j40-aboutpage-image-container {
      width: 10.5rem;
      padding: 1.24rem 1.24rem 0 .24rem;
    }

    .j40-aboutcard-image {
      flex: 1 0 10%;
      align-self: flex-start;
      @include u-margin-top(5);
    }

    .j40-aboutcard-link {
      font-weight: bold;
    }
  }

  .j40-aboutcard-sm-card {
    margin: 1.2rem 0 3rem 0;

    .j40-aboutpage-image-container {
      padding: 1.24rem 1.24rem 0 .24rem;
    }

    .j40-aboutcard-image {
      width: 3rem;
    }

    div.j40-aboutcard-sm-link {
      @include u-margin-top(2);
    }
  }
}
