$theme-image-path: "../../node_modules/uswds/src/img";
$theme-font-path: "../../node_modules/uswds/src/fonts";
$theme-show-compile-warnings: false;
$theme-show-notifications: false;

//Adds global p tag styles if they are unclassed
$theme-global-paragraph-styles: true;