@use '../../styles/design-system.scss' as *;

.languageContainer {
    @include u-margin-right(4);
    @include u-display("flex");

    .languageIcon {
      align-self: baseline;
    }

    .languageLink {
      @include u-display("inline-block");
      @include u-margin-left(1.5);
      cursor: pointer;
      @include typeset('sans', '2xs');
      @include u-padding-top('2px');
      
      &:hover {
        text-decoration-line: underline;
      }
    }
  }