@use '../../styles/design-system.scss' as *;

.fullScreenContainer {
    background-color: #f0f0f0; // Non-tokenizable color
    @include u-padding-top('05');
    @include u-padding-bottom('05');

    .bannerContainer {
      @include u-display("flex");
      max-width: 74rem;
      @include u-margin-left(auto);
      @include u-margin-right(auto);
      justify-content: space-between;
    }

}
